# Workspace
.vscode/
.DS_Store

# Node Packages
node_modules/

# Logs
logs
*.log
npm-debug.log*x

# Build
dist/
client-dist/js

# Development
typings/
generate-ts-db-models/

# Keys
keys/*.json
keys/*.key
google-cloud-storage.json

# Mocha
mochawesome-reports/
mochawesome-report/

# run time folders
archive-files/

# config
.env

screenshot/
videos/